/* GLOBAL */
body{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #000;
    background-color: #fff;
}


/* HEADER */
.site-header{
    background-color:#222
}
.site-logo-img{
object-fit: cover;
height: 50px;
}

.sitenav-list {
    list-style: none;
}

.sitenav-link {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
}


/* HERO */
.hero{
    background-color: skyblue;
}
.hero-heading{
    font-size: 40px;
}
.btn{
    text-decoration: none;
}
.hero-button{
    color: #fff;
}


/* NEWS */
.news-heading,
.viloyatlar-heading {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}
.news-list {
    list-style: none;
}
.news-item-img{
    width: 400px;
    height: 300px;
    object-fit: cover;
}


/* ASIDE */
.aside{
    background-color: chartreuse;
}


/* VILOYATLAR */
.viloyatlar-list{
    list-style: none;
}
.viloyatlar-link {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #222;
}


/* FOLLOWING */
.following{
    background-color:skyblue;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* FOOTER */
.site-footer{
    background-color: #222;
}